.btn {
  background: transparent;
  border: unset;
  display: flex;
  align-items: center;
  gap: 5px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);


  cursor: pointer;
}