.formWrap {
  display: flex;
  justify-content: center;
}

.formWindow {
  background: #fff;
  width: fit-content;
  padding: 50px 20px;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 22px 106px rgb(0 0 0 / 7%), 0px 9.19107px 44.2843px rgb(0 0 0 / 5%), 0px 4.91399px 23.6765px rgb(0 0 0 / 4%), 0px 2.75474px 13.2728px rgb(0 0 0 / 4%), 0px 1.46302px 7.04911px rgb(0 0 0 / 3%), 0px 0.608796px 2.93329px rgb(0 0 0 / 2%);
  border-radius: 6px;
  min-width: 320px;
}



