@import "../../assets/styles/vars";

.container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  gap: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: $windows-bg;
}


.singLinks {
  display: flex;
  align-items: center;
  gap: 15px;
}




