.elem {
  display: flex;
  flex-direction: column;
  position: relative;
  &::placeholder {
    color: #BFBFBF;
  }
}

.inp {
  padding: 5px 10px;
  border-radius: 6px;

}

.erroredInp {
  border: 2px solid var(--highlight-color);
  & + span {
    position: absolute;
    left: 0;
    top:100%;
  }
}
