@import "./vars";

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  box-sizing: border-box;
}

body {
//  font-family: $ff;
//  font-weight: $fw;
//  font-size: $fsz;
//  color: $usual-txt-color;
  background: $app-bg;

  //  line-height: 1.2;
//  text-transform: uppercase;
//
//  @media (max-width:$toBurger) {
//  font-size: calc($fsz - 1px);
//  }
}

//
a {
  text-decoration: none;
}

input {
  cursor: pointer;
}
