.common {
  font-family: 'Inter';
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  &:hover {
    border-color: var(--primary-color);
  }
}

.usual {
  color: var(--heading-color);
  border-radius: 5px;
}

.greenBorderBig {
  color:  var(--success-color);
  padding: 10px 20px;
  border: 1px solid var(--success-color);
  border-radius: 5px;

}

.greenBorderSmall {
  color:  var(--success-color);
  font-size: 14px;
  line-height: 22px;
  padding: 5px 10px;
  border: 1px solid var(--success-color);
  border-radius: 5px;
}

.blackBorderBig {
  color: var(--text-color);
  padding: 10px 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;

}